div{
    margin: 5px;
}

#heading{
    height: 200px;
    width: 100%;
    background: antiquewhite;
    border-bottom: 3px black;
}
#body2{
    height: 500px;
    width: 70%;
    background: cadetblue;
    float: left;

}

#body-right{
    height: 500px;
    width: 30%;
    background: darkcyan;
    float: right;
}
#footer{
    height: 200px;
    width: 100%;
    background: burlywood;
    clear: both;
}