#navbar {
    background-color: #2a2a2a;
}
#navbar {
    position: fixed;
    height: 46px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    position: relative;
}

.navbar-logo {
    float: left;
    padding: 10px;
    height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    width: 60px;
    background-size: 34px auto;
    background-color: #1d5167;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    position: absolute;
}
