<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/production/save}" th:object="${production}">
    <input type="hidden" th:field="*{id}">
    <label>Tên Sản Phẩm</label>
    <input type="text" th:field="*{ten}">
    <label>Giá :</label>
    <input type="text" th:field="*{gia}">
    <label>Hãng sản xuất :</label>
    <input type="text" th:field="*{hangSanXuat}">
    <input type="submit" value="Thêm">
</form>
</body>
</html>