<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create customer</h1>
<p>
    <a href="/customer">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/customer/create}" th:object="${province}" method="post">
    <table>
        <tr>
            <td>Name province :</td>
            <td><input type="text" placeholder="Nhập tỉnh thành" th:field="*{name}"/></td>
        </tr>
        <tr>
                <select th:field="*{province.id}">
                    <option th:each="p : ${provinces}"
                            th:value="${p.id}"
                            th:text="${p.nameProvince}">1</option>
                </select>
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Create province"></td>
        </tr>
    </table>
</form>
</body>
</html>