
div{
    margin: 3px;
}

#logo{
     height: 150px;
     width: 30%;
     float: left;
     background: red;
 }
#banner {
    height: 150px;
    width: 69%;
    float: right;
    background: blueviolet;

}
#head-link{
    height: 100px;
    background: darkgray;
    clear: both;
}

#left{
    height: 500px;
    width: 25%;
    float: left;
    background: burlywood;
}

#content{
    height: 500px;
    width: 48.5%;
    float: left;
    background: burlywood;
}
#right{
    height: 500px;
    width: 25%;
    float: right;
    background: burlywood;
}
#footer{
    height: 100px;
    width: 100%;
    clear: both;
    background: darkgray;
}