<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/custumer/create/add}" method="post" th:object="${customer}">
    <table>
        <tr>
            <td>
                <input th:field="*{name}" placeholder="Uaser Name">
            </td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>
                <input type="password" th:field="*{password}" placeholder="Password">
            </td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</td>
        </tr>
        <tr>
            <td>
                <input type="password" name="confirmPassword" placeholder="Confirm Password">
            </td>
        </tr>
        <tr>
            <td>
                <input th:field="*{email}" placeholder="email">
            </td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Mail Error</td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Login">
            </td>
        </tr>
    </table>
    <a href="/admin/create">Back login admin</a>
    <th:block th:if="${message}">
        <p style="color: brown" th:text="${message}"></p>
    </th:block>
</form>
</body>
</html>